<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    <title>Blogapp</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BlogApp</a>
            <button id="navbarSupportedContent" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'role' %}">Add a role</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex" role="search" method="post" action="{% url 'filter' %}">
                    {% csrf_token %}
                    {{ search_form }}
                    <button class="btn btn-outline-success" type="submit" style="margin-left: 6px;">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <br><br>
    <script>
        $(document).ready(function () {
            // Manually initialize the collapse component
            var myCollapse = new bootstrap.Collapse(document.getElementById('navbarSupportedContent'), {
                toggle: false  // Ensure toggle is false to handle the toggle manually
            });
    
            // Toggle the collapse component on button click
            $('#navbarSupportedContentToggle').click(function () {
                myCollapse.toggle();
            });
        });
    </script>
    {%if messages%}
    {%if user.is_authenticated%}
    <br>
    <div class="container">
        <div class="alert alert-danger" role="alert" style="width: 200px;text-align: center;margin-left: 500px;background-color: rgb(8, 229, 41);">
            {%for message in messages%}

            {{message}}

            {%endfor%}
        </div>
    </div>
    {%else%}
    <br>
    <div class="container">
        <div class="alert alert-danger " role="alert" style="width: 200px;text-align: center;margin-left: 500px;">
            {%for message in messages%}

            {{message}}

            {%endfor%}
        </div>
    </div>
    {%endif%}
    {%endif%}

    {%block content%}
    {%endblock%}
</body>

</html>