{%extends "base.html"%}
{%block content%}
<br><br>
    <div style="border: 2px solid black;padding-left: 10px;border-radius: 20px;margin-left: 30px;margin-right: 30px;padding-right: 30px;padding-top: 10px;">
    <h1 align="center">{{object.title}}</h1>
    <ul>
        <li>Author : {{object.author}}</li>
        <li>Content : {{object.content}}
        <li>Role : {{object.role}}</li>
    </ul>
    <button><a href="{%url  'delete' object.pk%}">Delete</a></button>
    <br>
    <br>
    </div>
    <br>
{%endblock%}