{%extends "base.html"%}
{%load crispy_forms_tags%}
{%block content%}
<br><br>
<div class="container" style="width: 500px;margin-top: 30px;">
<form method="post">
    {%csrf_token%}
    <h2>{{heading}}</h2>
    {{form|crispy}}  
    <button type="submit" class="btn btn-primary btn-sm" style="border-radius: 6px;">update</button>
    <button class="btn btn-primary btn-sm" style="border-radius: 6px;"><a href="{%url 'home'%}" style="text-decoration: none;color: white;">cancel</a></button>
</form>
</div>
{%endblock%}