{% extends 'base.html' %}
{%load crispy_forms_tags%}
{% block content %}
<bR>
<br>

<div class="container" >
    <h1 >Create New Post</h1>
    <br>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy}} <!-- Ensure proper rendering of the form fields -->
    <button type="submit" class="btn btn-primary btn-sm" style="border-radius: 6px;">Create Post</button>
</form>
<button href="{%url 'home'%}" class="btn btn-primary btn-sm" style="border-radius: 6px;">cancel</button>
</div>
<br>
<br>
{% endblock %}