{%extends "base.html"%}
{%load crispy_forms_tags%}
{%block content%}
{%if messages%}
{%for message in messages%}
{{message}}
{%endfor%}
{%endif%}
<div class="container" style="margin-top: 40px;">
<form method="post" autocomplete="off">
    {%csrf_token%}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Username">
    <label>Password:</label>
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>
</div>
{%endblock%}