{%extends "base.html"%}
{%block content%}
<br><br>
<div class="container" style="border: 2px solid black;border-radius: 20px;">
    <a href="{%url 'posts'%}" ><button style="margin-top: 10px;margin-bottom: 10px;" >Add New Post</button></a>
    <h1>{{head}}</h1>
    {%for p in posts%}
    <br>
    <div style="border: 2px solid black;padding-left: 30px;border-radius: 20px;">
    <p align="center" style="font-size: xx-large;"><a href="{%url 'detail' p.pk%}" style="text-decoration: none;"> {{p.title}}</a></p>
    <ul>
        <li>Author : {{p.author}}</li>
        <li>Content : {{p.content|slice:":800"}} <a href="{%url 'detail' p.pk%}"> show more...</a></li>
        <li>Role : {{p.role}}</li>
    </ul>
    <a href="{%url 'edit' p.pk%}"><button>Edit Post</button></a>
    <br><br>
    </div>
    {%endfor%}
    <br>
</div>
{%endblock%}