{%extends "base.html"%}
{%block content%}
{%if profile%}
{%include 'profile.html'%}
<section style="background-color: #eee;">
{%else%}
<br><br>
{%endif%}
<div class="container">
    <h1 style="font-weight:bold;background-color: #fcfcfc">{{head}}</h1>
    <a href="{%url 'posts'%}" ><button class="btn btn-primary btn-sm ms-6 mb-4 mt-2" style="border-radius: 6px;">Add New Post</button></a>
    {%for p in posts%}
    <br> 
    <div style="border: 2px solid black;padding: 10px;border-radius: 20px;" class="posts">
    <h1 align="center" style="font-weight:bolder;"><a href="{%url 'detail' p.pk%}" style="text-decoration: none;"> {{p.title}}</a></h1>
    <ul>
        <li>Author : {{p.author}}</li>
        <li>Content : {{p.content|slice:":800"}} <a href="{%url 'detail' p.pk%}"> show more...</a></li>
        <li>Role : {{p.role}}</li>
    </ul>
    <a href="{%url 'edit' p.pk%}"><button class="btn btn-primary btn-sm" style="border-radius: 6px;">Edit Post</button></a>
    <br><br>
    </div>
    {%endfor%}
    <br>
</div>
</section>
<div class="footer">
    <div class="heading">
        <br />
        <h2>BlogSite<sup>™</sup></h2>
    </div>
    <div class="content">
        <div class="blog-management">
            <h4>Blog Management</h4>
            <p><a href="/add-post">Add Post</a></p>
            <p><a href="/update-post">Update Post</a></p>
            <p><a href="/delete-post">Delete Post</a></p>
            <p><a href="/view-posts">View All Posts</a></p>
        </div>
        <div class="social-media">
            <h4>Social</h4>
            <p><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></p>
            <p><a href="#"><i class="fab fa-twitter"></i> Twitter</a></p>
            <p><a href="https://github.com/farazc60"><i class="fab fa-github"></i> Github</a></p>
            <p><a href="https://www.facebook.com/codewithfaraz"><i class="fab fa-facebook"></i> Facebook</a></p>
            <p><a href="https://www.instagram.com/codewithfaraz"><i class="fab fa-instagram"></i> Instagram</a></p>
        </div>
        <div class="links">
            <h4>Quick Links</h4>
            <p><a href="#">Home</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">Blogs</a></p>
            <p><a href="#">Contact</a></p>
        </div>
        <div class="details">
            <h4 class="address">Address</h4>
            <p>Visakhapatnam</p>
            <h4 class="mobile">Mobile</h4>
            <p><a href="#">+91-9533838323</a></p>
            <h4 class="mail">Email</h4>
            <p><a href="#">jaswanth.140760@gmail.com</a></p>
        </div>
    </div>
    <footer>
        <hr />
        © 2024 BlogSite.
    </footer>
{%endblock%}